.wrapper {
	margin: 0 auto;
	width: 1900px;	
}

.header {
	width: 1640px;
	height: 594px;
	margin: 0 auto;
	background-color: gray;
}

.block {
	width: 539px;
	height: 290px;
	background-color: white;
	border: 2px solid black;
	
}

.one{
	float: left;
}

.two {
	float: left;
	margin-left: 5px;
}

.three {
	float: left;
	margin-left: 5px;
}

.four {
	float: left;
	margin-top: 5px;
}

.five {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.six {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}



