.wrapper {
	margin: 0 auto;
	width: 1900px;	
}

.header {
	width: 1640px;
	height: 594px;
	margin: 0 auto;
	background-color: gray;
}

.block {
	width: 539px;
	height: 290px;
	background-color: white;
	border: 2px solid black;
	
}

.one{
	float: left; 
	border-radius: 50px 0 0 0;
}

.two {
	float: left;
	margin-left: 5px;
}

.three {
	float: left;
	margin-left: 5px;
	border-radius: 0 50px 0 0;
}

.four {
	float: left;
	margin-top: 5px;
	border-radius: 0 0 0 50px;
}

.five {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.six {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 0 0 50px 0;
}

.artist {
	float: left;
	width: 280px;
	height: 60px;
	margin-top: 215px;
	border: 2px solid black;
	border-left: 0;
	text-align: center; 
	line-height: 60px;
	
	
	
}



